# Auto detect text files and perform LF normalization
* text=auto
*.patch filter=lfs diff=lfs merge=lfs -text
*.Patch filter=lfs diff=lfs merge=lfs -text
courgette.exe filter=lfs diff=lfs merge=lfs -text
